
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #080809;
}

body{
  background-color: #080809;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.font-bemirs {
  font-family: 'Megrim', sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* Glitch Effect Styles */
.glitch-container {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  display: inline-block;
}

.glitch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  pointer-events: none;
}

.glitch.top {
  -webkit-clip-path: inset(0 0 50% 0);
  clip-path: inset(0 0 50% 0);
  z-index: 3;
}

.glitch.bottom {
  -webkit-clip-path: inset(50% 0 0 0);
  clip-path: inset(50% 0 0 0);
  z-index: 2;
}

.redShadow {
  text-shadow: -5px 0 red !important;
}

.greenShadow {
  text-shadow: -3px 0 lime !important;
} 